.mmm-froelingconnect-wrapper {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.mmm-froelingconnect-wrapper .component-wrapper {
    flex-grow: 1;
    flex-basis: 25%;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
}

.mmm-froelingconnect-wrapper .component-wrapper.no-border {
    border: none;
    padding: 0;
    margin: 0;
}

.mmm-froelingconnect-wrapper .component-wrapper-1 {
    flex-basis: 33%;
}

.mmm-froelingconnect-wrapper .component-wrapper-1 object {
    position: relative;
    left: -17%;
    transform: scale(1.6);
}